<%- include('./layouts/header') %>
<h1>Change Password</h1>
<form action="/user/change-password" method="post" class="lg-form">
    <% if (messages.error && messages.error.length > 0) { %>
        <div class="error-messages-container">
          <ul class="error-messages-list">
            <% messages.error.forEach(message => { %>
              <li><%= message %></li>
            <% }); %>
          </ul>
        </div>
    <% } %>
    <div>
        <label for="oldPassword">Old Password</label>
        <input type="password" name="oldPassword" id="oldPassword" placeholder="Old Password" required>
    </div>
    <div>
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required>
    </div>
    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
    </div>
    <div>
        <input type="submit" value="Register" />
      </div>
<br />
<%- include('./layouts/footer') %>