<%- include('./layouts/header') %>
<h1>Login</h1>
<form action="/auth/login" method="post" class="lg-form">
  <div>
    <label for="email">Email/Username</label>
    <input type="email" name="email" id="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <img src="data:image/svg+xml;charset=utf-8,<%= encodeURIComponent(captcha) %>" alt="captcha" />
<input type="text" name="captcha" placeholder="Enter CAPTCHA" required />
  <div>
    <input type="submit" value="Login" />
  </div>
</form>

<div>
  <p>
    Don't have an account? <span><a href="/auth/register">Register</a></span>
  </p>
</div>
<br />
<%- include('./layouts/footer') %>
