@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #f6e5e5;
  font-family: 'Kumbh Sans', sans-serif;

  max-width: 100%;
  margin: auto;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  background: #3c0303;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}
#navbar__logo {
  background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-trash {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__links:hover {
  color: #cc7c7c;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #3c0303;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
}

h1.title {
  text-align: center;
  margin: 1rem;
  text-decoration: underline;
}
div.tutorial-info {
  border: 4px solid #d1d5db;
  padding: 32px;
  border-radius: 16px;
  margin-top: 32px;
}
ol.tutorial-info {
  font-size: 1.5rem;
  padding: 0 32px;
  /* list-style-type: square; */
  /* list-style: disc; */
}

.tutorial-info > li {
  margin: 8px;
}


form.lg-form {
  margin: 10px;
  padding: 32px;
  border: 4px solid #3c0303;
  min-width: 400px;
  min-height: 200px;
  border-radius: 16px;
}

.lg-form label,
.lg-form input {
  display: block;
  min-width: 100%;
  margin: 8px 0px;
}

.lg-form label {
  font-weight: bold;
}

.lg-form input, .lg-form textarea {
  height: 44px;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-size: 1rem;
  background-color: #f3f4f6;
}

.lg-form input[type='submit'] {
  margin: 16px 0;
  background-color: #3c0303;
  color: #fff;
  cursor: pointer;
}

input:focus {
  outline: none;
  background-color: #fff;
  border: 2px solid #f3f4f6;
  /* box-shadow: 0 0 8px #fdf2f8; */
}

h1.table {
  text-decoration: underline;
  margin: 16px 0;
}

table {
  margin-top: 32px;
  min-width: 600px;
  border: none;
  border-spacing: 0;
  border: 4px solid #d1d5db;
  padding: 16px;
  border-radius: 16px;
}

thead {
  font-size: 1.25rem;
  color: #fff;
}

thead tr {
  border-radius: 8px;
  background-color: #3c0303;
  overflow: hidden;
}

thead th {
  padding: 8px 0;
  text-align: left;
  padding-left: 16px;
  min-width: 100px;
}

table th:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child {
  border-radius: 0 10px 10px 0;
}


tbody td {
  font-weight: normal; 
}


tbody tr td {
  padding: 8px 0;
  margin: 8px 0;
}

.manage-user-form input[type='submit'] {
  background: transparent;
  color: #3c0303;
  border: none;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
}

.manage-user-form input[type='submit']:hover {
  background-color: #fdf2f8;
}

.manage-user-form select {
  border: none;
  font-size: 1.05rem;
  padding: 6px 12px;
  border-radius: 8px;
  border: 2px solid #3c0303;
}

thead tr th:first-child,
tbody tr td:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;
}

.profile {
  min-width: 300px;
  padding: 10px;
  border: 4px solid #3c0303;
  border-radius: 16px;
  margin-top: 32px;
  min-height: 100px;
}

.profile > div {
  padding: 0px;
}

.profile .title {
  /* font-weight: bold; */
  font-size: 1rem;
  color: #3c0303;
}

.profile .subtitle {
  font-weight: normal; 
  color: #000000;
  font-size: 0.9rem;
}

.goback {
  cursor: pointer;
}

div.messages {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.messages {
  list-style: none;
  min-width: 600px;
  max-width: 600px;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
}

ul.messages * {
  padding: 8px 12px;
}

.messages .error {
  background-color: #f87171;
}
.messages .success {
  background-color: #6ee7b7;
}
.messages .warning {
  background-color: #fcd34d;
}
.messages .info {
  background-color: #93c5fd;
}


.dashboard-container {
  display: flex;
  flex-direction: column; /* Stacks containers vertically */
  align-items: center; /* Center-aligns containers */
  margin: 20px;
}

.dashboard-window {
  width: 120%; /* Adjust the width as needed */
  height: 180px;
  padding: 20px;
  border: 2px solid #f1f1f1;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 20px 0; /* Adds spacing between containers */
  display: flex; /* Use flex display to arrange image and content side by side */
  justify-content: space-between; /* Space items horizontally */
}

.dashboard-image {
  width: 60%; /* Image occupies the entire left half */
  border-radius: 10px 10px 10px 10px;
  background-image: url("/public/images/assignments.jpg");
  background-size: cover;
}

.dashboard-content {
  width: 38%; /* Content occupies 38% of the right half */
  padding: 10px;
}

.dashboard-content h2 {
  color: #3c0303;
}

.dashboard-button {
  background-color: #3c0303;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
}

.dashboard-button:hover {
  background-color: #985454; 
}



p {
  margin: 8px 0;
  color: #a22a2a;
}

strong {
  font-weight: bold;
  color: #3c0303;
}

textarea {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  box-sizing: border-box;
  margin-bottom: 10px;
}

form input[type="submit"] {
  margin: 16px 0;
  background-color: #3c0303;
  color: #fff;
  cursor: pointer;
  padding: 15px 20px; /* Adjust the padding for button size */
  border: none;
  border-radius: 8px; /* Adjust the border-radius for rounded edges */
  font-size: 18px; /* Adjust the font size */
  text-align: center;
}

form input[type="submit"]:hover {
  background-color: #985454;
}

h2 {
  font-weight: bold;
  color: #3c0303;
  list-style: none;
}